<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>familiar-note</title>
  <link rel="stylesheet" href="css/main.bundle.css">
</head>
<body>
  <header>
    <%- include('./_header') %>
  </header>
  <h2>Hell, world!</h2>
  <script src="js/bundle.js"></script>
</body>
</html>
